<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Would You Rather</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js" defer></script>
  </head>
  <body data-total1="{{ total1 }}" data-total2="{{ total2 }}" data-render="{{ render }}">
    <main>
      <button onclick="renderquestion(0)">Start</button>
      <div id="question"> 
          <h2 id="question_text"></h2>
          <button id="answer1" onclick="answer(1)"></button>
          <hr>
          <button id="answer2" onclick="answer(2)"></button>
      </div>
      <div id="answer">
          <h2 id="question_text_a"></h2>
          <label for="answer1_text" id="answer1_text_lable"></label>
          <p id="answer1_text"></p>
          <label for="answer2_text" id="answer2_text_lable"></label>
          <p id="answer2_text"></p>
          <button onclick="renderquestion(1)">next</button>
      </div>
    </main>
  </body>
</html>
